*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  font-family: 'Inter';
}

.css-var-_r_0_.ant-form-css-var {
  --ant-form-item-margin-bottom: 12px !important;
}
